.donut-chart {
    display: block;
  }
  
  .donut-chart circle {
    transition: stroke-dashoffset 1.5s ease;
  }
    
  .donut-chart text {
    font-weight: 600;
    user-select: none;
  }

  .donut-chart circle:last-child {
    transform: rotate(-90deg) translateY(-100px);
    transform-origin: 50% 50%;
  }

  .asylum-granted-donut-chart .donut-segment {
    stroke: #6CAF5C !important; /* darker green */
  }

  
  
  